
<%= image_tag wicked_pdf_asset_base64("CRUCES.png"), class:
"corner-image-top-right", alt: "imagen de marco superior derecho" %>
<div class="header">

            <div class="logo">
             <%= image_tag wicked_pdf_asset_base64("LOGO.png"), class:
                "logo_header", alt: "logo header" %>
            </div>
            <div class="title"><span class="title-subrallado">health application</span>
                <div class="container-subtitle">
                    <div class="member-id">
                        <%= image_tag wicked_pdf_asset_base64("tarjeta-de-visita.png"), class:
                        "icono-svg-title", alt: "imagen icono tarjeta de visita" %>
                      <span>Member ID:</span>
                    </div>
                    <div class="ffm-id"><span><i>FFM ID:</i></span></div>
                  </div>
            </div>
                <div class="box-id-conatiner">
                <div class="box-id"><i>CIG ID:</i></div>
            </div>
        </div>