// Place all the styles related to the Pdf controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "Calibri Regular";
  src: url('Calibri-Regular.eot'); /* IE9 Compat Modes */
  src: url('Calibri-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Calibri-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Calibri-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('Calibri-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "BebasNeue Regular";
  src: font-url('bebas-neue-pro-bold-italic.otf');
}

body,
html {
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.text-footer {
  font-size: 10.5px;
  line-height: 16px;
  color: #2d4c7b;
  font-weight: 500;
  // font-family: "Calibri Regular";
    
}

.no-capitalize {
  text-transform: none !important;
}
.seleccionado-si-no {
  font-size: 13px !important;
}

.cliente-section {
  span {
    font-weight: 500 !important;
  }
}
.mi-radio input[type="radio"] {
  /* Oculta el input radio original */
  display: none;
}
.mi-radio span {
  /* Agrega position: relative al elemento padre */
  position: relative;
}

.mi-radio span::after {
  /* Crea un círculo vacío para representar el botón de radio no seleccionado */
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #2d4c7b;
  margin-left: 5px;
  position: relative !important;
}

.mi-radio input[type="radio"]:checked ~ span::before {
  /* Muestra el círculo lleno cuando el botón de radio está seleccionado */
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2d4c7b;
  /* Centra el círculo lleno dentro del círculo vacío */
  position: absolute !important;
  top: 43%;
  left: 53%;
}

.border-interno-box-footer {
  border: 1px solid gray;
  padding-top: 4% !important;
  margin-bottom: 4.5% !important;
  margin-top: 1.5% !important;
  box-sizing: content-box !important;
  padding-bottom: 7%;
}
.container-seleccion {
    
  // background: white;
 
  padding-top: 7px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 9px;
 

  .fila {

   
    width: 100%;
    padding-top: 3px;

    div span {
      font-size: 15px;
  line-height: 23px;
  color: #2d4c7b;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Calibri Regular", sans-serif;
  white-space: nowrap;
      padding-right: 2px;
      padding-left: 2px;
    }
  }
}

.container-seleccion-card {
    
 
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 9px;
 

  .fila {

   
    width: 100%;
    padding-top: 3px;

    div span {
      font-size: 13px;
  line-height: 23px;
  color: #2d4c7b;
  font-weight: 500;
  text-transform: capitalize;
  // font-family: "Calibri Regular", sans-serif;
  font-family: "Calibri Regular";
  white-space: nowrap;
      padding-right: 2px;
      padding-left: 2px;
    }
  }
}

.cig_id--variable {
  color: white;
  text-transform: uppercase;
  padding-left: 5px;
}

.container-seleccion-footer {
    
 
  padding-left: 7px;
  border-radius: 9px;
 
  .fila {

   
    width: 100%;
    padding-top: 2px;

    div span {
      font-size: 11px;
      line-height: 21px;
      color: #2d4c7b;
      font-weight: 500;
      text-transform: capitalize;
      // font-family: "Calibri Regular", sans-serif;
  
      white-space: nowrap;
      padding-right: 2px;
      padding-left: 2px;
    }
  }
}

.row-data-client{
  position: relative;
}

.income-data-bank{
position: relative;
}

.item-income-data{
  position:absolute;
}
.row-data-bank{
  position: relative;
}

.container-align-section-citizen {
  position: absolute;
  top: 1%;
  left: 49.5%;
  
}

.client-section-border{
  margin-top: 4px;
}

.citizen-top-input-first{
  position: absolute;
  top: 1%;
  left:54px;
}

.resident-top-input-first{
  position: absolute;
  top: 1%;
  left:69px;
}

.employee-top-input-first{
  position: absolute;
  top: 1%;
  left:115px;
}

.others-top-input-first{
  position: absolute;
  top: 1%;
  left:59px;
}

.resident-top-left{
  position: absolute;
    left: 80px;
    top: 0%;
    
}

.employee-top-left{
  position: absolute;
    top: 1%;
    left: 178px;
}

.others-top-left{
  position: absolute;
    top: 1%;
    left: 322px;
}

.element-unique-client{
    position: absolute;
    top: 0%;
    left: 26%;
}

.cobertura-top-left{
  top: 1%;
  width: 100px;
position: absolute;
left: 85px;
}

.header {
  position: relative;
  height: 140px;
 
  //
  margin-left: 63px;
  margin-right: 63px;
  padding-top: 1.4%;
}

.logo {
  padding-top: 1%;
  position: absolute;
  left: 0%;
}

.title {
    
 position:absolute;
 left: 50%;
 transform: translateX(-50%);
  padding-top: 2%;
}


.member-id {
    
position: absolute;
  gap: 5px;
  margin-left: 3px;
  white-space: nowrap;
  .icono-svg-title {
    width: 33px;
    height: auto;
  }

  .icono-svg {
    width: 18px;
    height: auto;
  }

  span {
    font-size: 16px;
  // line-height: 25px;
  text-transform: uppercase;
  color: #2d4c7b;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  font-style: italic !important;
    padding-left: 5px;
    white-space: nowrap;
  }
}

.ffm-id {
  position: absolute;
  right: 0px;
  top:12px;
  span {
    font-size: 16px;
    // line-height: 25px;
    text-transform: uppercase;
    color: #2d4c7b;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    font-style: italic !important;
        white-space: nowrap;
  }
}
.box-id-conatiner {
  width: auto;
  height: 100%;
  width: 22%;
  padding: 5px;
  position: absolute;
  right: 0%;
  box-sizing: border-box;
}
.box-id {
  width: 100%;
  text-align: center;
    
 
 
  // padding: 4px;
  // height: 38px;
  border-radius: 10px;
  background-color: #2c4b7a;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Bebas Neue";
  padding-left: 10px;
}
.title .title-subrallado {
  font-size: 37px;
  letter-spacing: 3px;
  line-height: 43px;
  text-transform: uppercase;
  color: #2c4b7a;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  font-style: italic;
  padding-left: 13px;
  padding-right: 13px;
  white-space: nowrap;
}

.container-subtitle {
    
position: relative;
  width: 100%;
  text-align: center;
  padding-top: 4px;
  border-top: 4px solid #2d4b7a;
  padding-left: 7px;
  padding-right: 7px;
}

.logo_header {
  width: auto;
  height: 100px;
  padding-top: 12%;
}

.corner-image-top-right {
  position: absolute;
  top: -24px;
  right: -24.5%;
  width: 86.5%;
  height: auto;
}
.content-main {
    
 
  height: 100%;
  // border: 2px solid grey;
  margin-left: 8.5%;
  margin-right: 7%;
  margin-top: 3.4%;
}

.section-container-Accountn {
    position: relative;
    padding-top: 7px;
    height: 105px;
  //
}

.item-footer-up{
  position:absolute
}

.row-footer-account{
  position:relative;
}

.item-row-left-footer-account{
  position: absolute;
  left: 0px;
}

.item-row-footer-account{
  position: absolute;
  right: 0px;
  top: 20px;
}

.date-footer-up{
position: relative;
}

.section-container-Accountn-footer{
  position: relative;
  padding-top: 7px;
  height: 200px;
}

.item-footer-up{
  position:absolute;

}
.box-left-account{
position: absolute;
left: 0%;

width: 49.5%;
}

.box-right-account{
position: absolute;
right: 0%;

width: 49%
}

.item-bank-second-up{
position:absolute;
top:30px;
}

.row-company{
  position: relative;
}

.item-bank-up{
  position: absolute;
  top:2%;
}
.row-card-bank{
  padding-top: 10px;
  position: relative;
}
.item-company-up{
  position: absolute;
  top: 4px;
}

.row-empleador-up{
  position:relative;
}

.account-data-bank{
  position: relative;
}

.item-account-up{
  position: absolute;
}

.item-empleador-second-up{
  position: absolute;
  top: 30px;

}

.row-empleador-second-up{
  position: relative;
}

.item-empleador-up{
  position:absolute;
}
.footer {
  position: relative;
  height: 100%;
    
 
  height: 100%;
  margin-left: 9%;
  margin-right: 4%;
  padding: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 2%;
}

.corner-image-bottom-left {
  position: absolute;
  left: 0%;
  bottom: -13%;
  width: 600px;
  z-index: -1;

  /* right: 100px; */
}

.my-gradient-border {
  position: relative;
  border: solid 4px transparent;
  margin-top: 3px;
  width: 100%;
  height: auto;
  span {
    // background: white;
    width: auto;

    // padding: 4%;
    border: 20px;
    border-radius: 10px;
  }
}

.my-border-section-gris {
  border-radius: 10px;
  margin-top: 7px;
  border: 1px solid #818181;
  margin-left: 0px;
  margin-right: 0px;
  page-break-inside: avoid !important;
  height: 94px;
}
.my-gradient-border::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -1;
  border-radius: 10px;
  background: url('../images/border-card.png');
}

.container-border-colorido{
  width: 100%;
  height: auto;
  position: relative; 
  box-sizing: content-box;
}

.container-border-colorido-left{
  height: auto;
  position: relative; 
  box-sizing: content-box;
  width: 100%;
}

.container-border-colorido-right{
  height: auto;
  position: relative; 
  box-sizing: content-box;
  width: 100%;
  padding-left: 0%;
}

.my-gradient-border-colorido{
  position: absolute;
  top: -4%;
  width: 100%;
}

.my-gradient-border-colorido-company{
  position: absolute;
  top: 4.5%;
  width: 100%;
}

.border_colorido{
  width: 100%;
  height: auto;
  position: relative;
}

.border_colorido_account{
  width: 100%;
  height: auto;
  position: relative;
  
}
.border_colorido-left{
  width: 100%;
  height: 93px;
  position: relative;
}

.border_colorido-right{
  width: 100%;
  height: 93px;
  position: relative;
}

.container-si-no {
  padding-left: 0px;
  padding-right: 0px;
    
 -webkit-box-pack: center;
 

  span {
    font-size: 15px;
    line-height: 23px;
    color: #2d4c7b;
    font-weight: 500;
    text-transform: capitalize;
    // font-family: "Calibri Regular", sans-serif;

    white-space: nowrap;
   -webkit-box-pack: center;
   
    padding: 4px;
    font-style: italic !important;
  }
}

.titulo-seleccion {
    
 
 
  width: 0px;
  label {
    font-size: 16px;
  // line-height: 25px;
  text-transform: uppercase;
  color: #2d4c7b;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  font-style: italic !important;
    font-size: 22px !important;
  }
}

.row-client
{
  position: relative;

  .espacio-vacio{
    position: absolute;
    height: 2%;
    left: 7%;
    top: 1.2%;
  }

  .option-client{
    position: absolute;
    top: 1%;
    left: 10.5%;
    width:88px;
  }
}

.fila-interna-superior{
  height: 25px;
}

.elemento-fila-interna-up{
  position: absolute;
  top: 25%;
}

.item_info_pdf-fila-up{
  position: absolute;
  top: 25%;
}

.item_info_pdf-data-client-up{
  position: absolute;
  top: 4px;

}

.item_info_pdf-data-client-second-up{
  position: absolute;
  top: 28px;
}

.item_info_pdf-data-client-row-tres-up{
  position: absolute;
  top: 51px;
}

.container-alineando-elementos-row {
  position: relative;    
  width: 100%;
  padding-top: 6px;
  padding-bottom: 1px;
  .item_info_pdf {

   
   
    gap: 5px;
    margin-left: 3px;

    .icono-svg-title {
      width: 28px;
      height: auto;
    }

    .icono-svg {
      width: 18px;
      height: auto;
    }
    .icono-svg-edificio{
      width: 14px;
      height: auto;
    }

    .item-info {
      font-size: 16px;
      // line-height: 25px;
      text-transform: uppercase;
      color: #2d4c7b;
      font-weight: 400;
      font-family: "Bebas Neue", sans-serif;
      font-style: italic !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 3.5px;
      margin-top: 4px;
    }
  }
}

.elemento {
    
 -webkit-box-pack: center;
 

  label {
    font-size: 10.5px;
    line-height: 25px;
    text-transform: uppercase;
    color: #818181;
    font-weight: bold;
    // font-family: "Calibri Regular", sans-serif;
    white-space: nowrap;
    font-style: italic !important;
  }
  span {
    font-size: 15px;
    line-height: 23px;
    color: #2d4c7b;
    font-weight: 500;
    text-transform: capitalize;
    // font-family: "Calibri Regular", sans-serif;

    white-space: nowrap;

   -webkit-box-pack: center;
   
  }
}

.container {
    
  // background: white;
 
  padding-top: 7px;
  padding-left: 7px;
  border-radius: 9px;
}

.columna {
    
 
  width: 100%;

  .fila {
    width: auto;
    height: 33px;
  }
}

.espacio-vacio-border {
  border-bottom: 1px solid gray;
}

.pdf-variable {
  font-size: 13.5px;
  line-height: 23px;
  color: #2d4c7b;
  font-weight: 500;
  text-transform: capitalize;
  // font-family: "Calibri Regular", sans-serif;
    
  white-space: nowrap;
  padding-left: 2px;
  margin-top: 4px;
  white-space: nowrap;

}

// esta linea puede agregar los (...)  si el texto es muy largo
.espacio-vacio{
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.pdf-variable-content-interno {
  font-size: 13.5px;
  line-height: 23px;
  color: #2d4c7b;
  font-weight: 500;
  text-transform: capitalize;
  // font-family: "Calibri Regular", sans-serif;
    
  white-space: nowrap;
  padding-left: 2px;
}

.container-first-card-info {
  padding-top: 10px;
  padding-bottom: 0px;
}
